.vs
CupsellCloneAPI/bin
CupsellCloneAPI/obj
CupsellCloneAPI/CupsellCloneAPI.csproj.user
CupsellCloneAPI.Database/obj/Debug
CupsellCloneAPI.Database/obj
CupsellCloneAPI.Database/bin
CupsellCloneAPI.Core/bin
CupsellCloneAPI.Core/obj
CupsellCloneAPI.Database.BlobContainer/obj
CupsellCloneAPI.Database.BlobContainer/bin
