<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- Exceptions -->
	<targets>
		<target xsi:type="File" name="exceptions" fileName="d:\CupsellCloneAPILogs\nlog-all-exceptions-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- Infos -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="d:\CupsellCloneAPILogs\nlog-all-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- Time -->
	<targets>
		<target xsi:type="File" name="request-time" fileName="d:\CupsellCloneAPILogs\request-time-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>


	<rules>
		<logger name="*" minlevel="Information" writeTo="allfile" />
		<logger name="CupsellCloneAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="CupsellCloneAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
	</rules>

</nlog>